body {
  margin: 0;
}
#thing1, #thing2, #thing3, #thing4, #thing5, #thing6, #thing7, #thing8 {
  width: 50vw;
  height: 50vh;
  text-align: center;
  float: left;
  box-sizing: border-box;
  border: 1px solid black;
}
